<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Debug</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h4>Enable Debug</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <input name="options" type="radio" (ngModelChange)="setDebug()" [value]="true" [(ngModel)]="enableDebug">True<br />
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <input name="options" type="radio" (ngModelChange)="setDebug()" [value]="false"
          [(ngModel)]="enableDebug">False<br />
      </div>
    </div>
  </div>
</div>
<br>
@if (enableDebug) {
<div class="container">
  <div class="row">
    <div class="col-xl">
      <div class="row">
        <div class="col-sm">
          <h4>Set Credits</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="row">
            <input type="number" [(ngModel)]="credits" (blur)="checkCreditValue(credits)">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm"><br></div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h4>Set Results</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="row">
            <input name="result" type="radio" [value]="true" [(ngModel)]="isFixed">Fixed<br />
          </div>
        </div>
        <div class="col-sm">
          <div class="row">
            <input name="result" type="radio" [value]="false" [(ngModel)]="isFixed">Random<br />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm"><br></div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h4>Set Reel Value / Position</h4>
        </div>
      </div>
      <div class="row">
        @for (reel of reelArr; track reel; let i = $index) {
          <div class="col-sm">
            <div class="row">
              <select [(ngModel)]="reelArr[i].value" (ngModelChange)="setReelValue(i,$event)" [disabled]="!isFixed">
                <option [value]="'X3BAR'">x3BAR</option>
                <option [value]="'BAR'">BAR</option>
                <option [value]="'X2BAR'">x2BAR</option>
                <option [value]="'SEVEN'">SEVEN</option>
                <option [value]="'CHERRY'">CHERRY</option>
              </select>
            </div>
          </div>
        }
      </div>
      <div class="row">
        <div class="col-sm"><br></div>
      </div>
      <div class="row">
        @for (pos of posArr; track pos; let i = $index) {
          <div class="col-sm">
            <div class="row">
              <select [(ngModel)]="posArr[i].value" (ngModelChange)="setPosValue(i,$event)" [disabled]="!isFixed" class="pos-select">
                <option [value]="'TOP'">TOP</option>
                <option [value]="'CENTER'">CENTER</option>
                <option [value]="'BOTTOM'">BOTTOM</option>
              </select>
            </div>
          </div>
        }
      </div>
      <div class="row">
        <div class="col-sm"><br></div>
      </div>
      <div class="row">
        <div class="col-sm">
          <button (click)="setDebugConf()">Set Debug Values</button>
        </div>
      </div>
    </div>
  </div>
</div>
}
